{% extends 'base.html.twig' %}
 
{% block title %}Ajout d'une association{% endblock %}

{% block body %}
<br>
 <form>
  <input type="button" class="btn btn-info " value="Retour" onclick="history.go(-1)"> 
</form>
<br>

<center>
    <h1  style="color : #F4B82A ; font-weight : bold">Ajout d'une association</h1><br><br>
</center>
{{form_start(form)}}
<label>Nom association</label>
<input class="form-control" type="text" size="80" name='nom_asso'  />
<br>
<label>Pays</label>
<input class="form-control" type="text" size="80" name='pays'  />
<br>
<label>Région</label>
<input class="form-control" type="text" size="80" name='region'  />
<br>
{{form_widget(form.Envoyer)}}
{{form_end(form)}}
{% endblock %}