{% extends 'base.html.twig' %}

{% block title %}Nouveau Prestataire{% endblock %}

{% block body %}
    <br>
    <h1 style="color : #F4B82A ; font-weight : bold">Ajout d'un nouveau prestataire</h1>
    <br>
    {{ form(form) }}
{% endblock %}
