{% extends 'base.html.twig' %}

{% block title %}Colonne table {{nomBase}} {% endblock %}

{% block body %}
    <h1 style="color : #F4B82A ; font-weight : bold"> Liste des colonnes de la table {{nomBase}} </h1>
    <table class="table table-striped table-bordered">
        <thead><tr>
            <th> Nom des colonnes </th>
        </tr></thead>
        <tbody>
        {% for colonne in colonnes %}
            <tr><td>
            {{ colonne.COLUMN_NAME}}
            </td></tr>
        {% endfor %}
    </table>
    <br>
    {{form(form)}}
{% endblock %}
